*{
    margin: 0;
    padding:0;
}

/*-----------navigation bar---------*/
.icons{
    float:right;
    margin:5px;
    padding-top:2px;
    padding-right:15px;
}

.search_bar{
position: relative;
left: 200px;
bottom:15px;
height: 23px;
width:450px;
}

.search-btn{
position: relative;
left:150px;
height:25px;
bottom:15px;
}