*{
    margin: 0;
    padding:0;
    
}

.main-logo{
    position: relative;
    left:50px;
    width:85px;
    height:45px;
}

/*-----------navigation bar---------*/
.icons{
    float:right;
    margin:5px;
    padding-top:2px;
    padding-right:15px;
    width:40px;
    height:35px; 
}

.search_bar{
position: relative;
left: 200px;
bottom:15px;
height: 23px;
width:450px;

}

.search-btn{
position: relative;
left:150px;
height:25px;
bottom:15px;
}

.video{
  position: relative;
  left: 50px;
}

.title{
  position: relative;
  left: 50px;
}

.like{
  position: relative;
  left: 600px;
  bottom: 20px;
}

.dislike{
  position: relative;
  left: 605px;
  bottom: 20px;
}

.share{
  position: relative;
  left: 610px;
  bottom: 30px;
}

.viewers {
  position: relative;
  left: 50px;
  bottom: 35px;
  color: grey;
}

.line{
  position: relative;
  left: 50px;
  width: 700px;
}

.avatar{
  position: relative;
  left: 50px;
  border-radius: 100%;
}

.sub-btn{
  position: relative;
  left: 655px;
  bottom: 70px;
}

.artist{
  position: relative;
  left: 100px;
  bottom: 40px;
}

.subs{
  position: relative;
  left: 100px;
  bottom: 40px;
}

.column {
    float:right;
    width:40%;
    height:250px;
    padding:10px;
    position: relative;
    bottom: 603px;
  
}

.row:after {
    display:table;
    clear:both;
    content:"";
}

.recomended{
    width:150px;
    height:90px;
    border-radius: 10%;
    position: relative;
    right: 20px;
    bottom: 15px;
}

.recomended-title{
    position: relative;
    bottom:70px;
    right:20px;
    text-decoration: none;
}

.views{
     position: relative;
     left:25%;
     bottom: 65px;
}

.description{
    position: relative;
    bottom:20px;
    left:65px;
}

.artist-link{
    text-decoration: none;
}



